body {
    background-color: yellow
    
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 52px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    font-size: bold;
}
h2 {
    font-family: 'Tangerine', serif;
    font-size: 52px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    font-size: bold;
    padding-top: 4cm;
}

p {
    font-family: 'Tangerine', serif;
    font-size: 19px;
    text-shadow: 4px 4px 4px #aaa;
    font-size: bold;
}

